<div class="container">
  <mat-grid-list cols="6" *ngFor="let item of grid">
    <mat-grid-tile>
      {{ item.city }}
    </mat-grid-tile>
    <mat-grid-tile>
      {{ item.start_date }}
    </mat-grid-tile>
    <mat-grid-tile>
      {{ item.end_date }}
    </mat-grid-tile>
    <mat-grid-tile>
      {{ item.price }}
    </mat-grid-tile>
    <mat-grid-tile>
      {{ item.status }}
    </mat-grid-tile>
    <mat-grid-tile>
      "-{{ item.color }}-"
    </mat-grid-tile>
  </mat-grid-list>
</div>

