.dateControls {
    position: absolute;
    top: 8%;
    width: 100%;
}

.date-filter-form {
    display: flex;
    justify-content: space-around;
}

.date-filter {
    width: 25%;
}

.projectList {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
}

.grid-content {
    height: 500px;
    overflow-y: hidden;
}

.sort-arrow {
    position: absolute;
    top: 35%;
    right: 10%;
}