<div class="dateControls">
  <form class="date-filter-form">
    <input type="text"
    placeholder="Start date"
    class="form-control date-filter"
    (change)="onChange($event)"
    bsDatepicker>

    <input type="text"
    placeholder="End date"
    class="form-control date-filter"
    bsDatepicker>

    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>
<div class="projectList container">

  <mat-grid-list cols="6" rowHeight="50px">
    <mat-grid-tile (click)="sortGrid('city')">
      City
      <div class="sort-arrow" *ngIf="selected == 'city'">
        <i class="fa fa-angle-up" *ngIf="!reversed"></i>
        <i class="fa sort-arrow fa-angle-down" *ngIf="reversed"></i>
      </div>
    </mat-grid-tile>
    <mat-grid-tile (click)="sortGrid('start-date')">
      Start date
      <div class="sort-arrow" *ngIf="selected == 'start-date'">
        <i class="fa sort-arrow fa-angle-up" *ngIf="!reversed"></i>
        <i class="fa sort-arrow fa-angle-down" *ngIf="reversed"></i>
      </div>
    </mat-grid-tile>
    <mat-grid-tile (click)="sortGrid('end-date')">
      End date
      <div class="sort-arrow" *ngIf="selected == 'end-date'">
        <i class="fa sort-arrow fa-angle-up" *ngIf="!reversed"></i>
        <i class="fa sort-arrow fa-angle-down" *ngIf="reversed"></i>
      </div>
    </mat-grid-tile>
    <mat-grid-tile (click)="sortGrid('price')">
      Price
      <div class="sort-arrow" *ngIf="selected == 'price'">
        <i class="fa sort-arrow fa-angle-up" *ngIf="!reversed"></i>
        <i class="fa sort-arrow fa-angle-down" *ngIf="reversed"></i>
      </div>
    </mat-grid-tile>
    <mat-grid-tile (click)="sortGrid('status')">
      Status
      <div class="sort-arrow" *ngIf="selected == 'status'">
        <i class="fa sort-arrow fa-angle-up" *ngIf="!reversed"></i>
        <i class="fa sort-arrow fa-angle-down" *ngIf="reversed"></i>
      </div>
    </mat-grid-tile>
    <mat-grid-tile (click)="sortGrid('color')">
      Color
      <div class="sort-arrow" *ngIf="selected == 'color'">
        <i class="fa sort-arrow fa-angle-up" *ngIf="!reversed"></i>
        <i class="fa sort-arrow fa-angle-down" *ngIf="reversed"></i>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <div class="grid-content">
    <mat-grid-list cols="6" *ngFor="let item of grid" 
      rowHeight="50px">
      <mat-grid-tile>
        {{ item.city }}
      </mat-grid-tile>
      <mat-grid-tile>
        {{ item.start_date }}
      </mat-grid-tile>
      <mat-grid-tile>
        {{ item.end_date }}
      </mat-grid-tile>
      <mat-grid-tile>
        {{ item.price }} €
      </mat-grid-tile>
      <mat-grid-tile>
        {{ item.status }}
      </mat-grid-tile>
      <mat-grid-tile>
        "-{{ item.color }}-"
      </mat-grid-tile>
    </mat-grid-list>
  </div>

</div>

