.dateControls {
    position: absolute;
    top: 8%;
    width: 100%;
}

.date-filter-form {
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: 0 auto;
}

.date-filter {
    width: 35%;
}

.projectList {
    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    padding: 20px;
    padding-top: 0px;
    background-color: green;
    border-radius: 5px;
}

.grid-content {
    height: 500px;
    overflow-y: scroll;
    height: 500px;
    overflow-y: scroll;
    background-color: white;
    border-radius: 2px;
}

mat-grid-list.mat-grid-list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

.sort-arrow {
    position: absolute;
    top: 35%;
    right: 10%;
}

